<h2 class="float-right">Waiting Area</h2>
<ul>
    {{#each burger}}
        {{#unless this.devoured }}
           <div>
               {{this.id}}. {{this.burger_name}}
               <button class="burger-button" data-id="{{this.id}}" data-devoured="{{this.devoured}}">Devour It!</button>
           </div>
        {{/unless}}
    {{/each}}
</ul>

<h2 class="float-left">Burgers Consumed</h2>
<ul>
    {{#each burger}}
        {{#if this.devoured}}
            {{ this.burger_name }}
        {{/if}}
    {{/each}}
</ul>